.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 12px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.container .image img  {
    
    width: 90px;
    height: 90px;
    
  
}

.container .queryTexts {
  
    display: flex;
    gap: 40px;
    align-items: center;
}

.container .queryTexts p {
    font-size: 1.1rem;
    font-weight: 600;
    color: #000;
    
    transition: all 0.2s ease;
}


.container .queryTexts a {
    display: flex;
    align-items: center;
    gap: 7px;
}

.container .queryTexts p:hover {
    color: blue;
}

.hamburgerMenu {
    display: none;
}

.hamburgerMenu svg {
    font-size: 2rem;
    cursor: pointer;
}

.hamburgerList {
    border-left: 1px solid grey;
    width: 270px;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -400px;
    background-color: #fff;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 13px;
    transition: all 0.3s ease;
    border-radius: 7px;
    opacity: 0;
    
}
 .open {
    right: 0;
    opacity: 1;
 }

.hamburgerList >div {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border: 1px solid grey;
    margin-bottom: 12px;
    padding: 7px 9px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-out;
}


.hamburgerList >div:hover {
    background-color: beige;
}

.hamburgerList > div span {
    width: 30px;
    height: 30px;
    border: 1px solid grey;
    border-radius: 50%;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburgerList > div p {
    font-size: 1.2rem;

}

.hamburgerList > p{
    width: 100%;

    
}

.hamburgerList > p > span {
    font-size: 1.2rem;
    font-weight: 700;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: red;
    color: #fff;
    text-align: center;
    position: relative;
    top: 0;
    right: 0;
    border-radius: 50%;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease-in;

}

.hamburgerList > p > span:hover {
    background-color: rgb(209, 209, 209);
    color: red;
}

.footer {
    width: 100%;
    padding: 20px 0 0;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer > div {
    width: calc(100% - 40px);
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

.socialMedia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.socialMedia img {
    width: 130px;
}

.socialMedia div {
    margin-top: 35px;
}

.socialMedia div p {
    color: grey;
    width: 130px;
    font-size: 1rem;
    margin-bottom: 10px;
}

.socialMedia > div > div {
    width: 130px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.socialMedia div button  {
    background: none;
    border: 1px dashed grey;
    padding: 7px 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.socialMedia div button:hover {
    background-color: #c9c9c9;
}

.socialMedia div button svg {
    font-size: 1rem;
    
}

.component {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.component p {
    margin-bottom: 40px;
    font-size: 1.4rem;
    font-weight: 700;
    font-style: italic;
}

.component a {
    display: flex;
    align-items: center;
    width: 200px;
    font-size: 1.2rem;
    color: grey;
    list-style-type: decimal-leading-zero;
    transition: all 0.3s ease;
}

.component a:hover {
    color: blue;
}

.component a svg {
    margin-right: 10px;
}

.footer > p {
    padding: 5px;
    background-color: rgb(236, 232, 232);
    color: #000;
    text-align: center;
    width: 100%;
    margin-top: 80px;
    font-style: italic;
    font-size: 1rem;
    font-weight: 700;
}

@media (max-width: 930px) {
    .container {
        justify-content: space-between;
        padding: 10px 30px;
    }
}


@media (max-width: 800px) {
    .queryTexts svg {
        display: none;
    }
}

@media (max-width:700px) {
    .hamburgerMenu{
        display: block;
    }

    .hamburgerList {
        display: flex;
    }

    .queryTexts p {
        display: none;
    }

    .container {
        justify-content: space-around;
    }

    .footer > div {
        flex-direction: column;
        gap: 100px;
    }
}

